.filter-dropdown {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 0 auto 16px auto;
  padding: 8px 12px;

  border-radius: 6px;
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--text-secondary);
  font-size: 13px;
}
/*.filter-dropdown:focus — ye batata hai "jab filter-dropdown class wale element (yaha dropdown) pe focus ho (matlab user usse click kare ya select kare), tab ye style apply karo*/
.filter-dropdown:focus {
  outline: none;
  border-color: #ef9f27;
}
